<div class="hero">
  <div class="hero-inner">
      <div class="hero-copy">
        <h1>Oil Xchange</h1>
        <p> The Only Platform For Physical Cargoe Trading</p>
      </div>
  </div>
</div>

<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="oil-ship.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Supply Discovery</h2>
      <p>We provided the deepest market for physical petroleum discovery in the world.  Supporting all forms of refined petroleum products, and with market participants from around the globe, we provide broader supply access than any other medium.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="oil-rig.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Product Placement</h2>
      <p>We understand the issues with traditional cargoe placement.  Our platform enables seemless transactions and handoff of purchased product. Our process and indepenedence enables verification for all parts of the transaction process. </p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="oil-truck.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>RFP Transparency</h2>
      <p>Oil Xchange is an indepenedent entity, enabling full tracking and transparency of every RFP that occurs on the platform.  Our annoynmous RFP platform provides an audited trail for governments to ensure the process is open and fair.</p>
    </div>
  </li> 
</ul>
