<div class="rfp-wrapper2">
  <h5>RFP End Date</h>
</div>

<div class="rfp-wrapper2">
  <h5>Supply Quantity</h>
</div>

<div class="rfp-wrapper2">
  <h5>Supply Quantity</h>
</div>

<div class="rfp-wrapper2">
  <h5>Contact Length</h>
</div>

<div class="rfp-wrapper2">
  <h5>Total # Deliveries</h>
</div>

<div class="rfp-wrapper2">
  <h5>Limit</h>
</div>
