<div class="rfp-wrapper2">
  <p class="rfp-output">RFP End Date</p>

  <p class="rfp-output">Cargo Size (ktons)</p>


  <p class="rfp-output">Term of contract (months)</p>



  <p class="rfp-output">Total # Deliveries</p>

  <p class="rfp-output">Contract Start Date</p>

  <p class="rfp-output">Shipping Type</p>
</div>