<div class="rfp-wrapper2">
  <h5>RFP End Date</h>
</div>

<div class="rfp-wrapper2">
  <h5>Cargo Size (ktons)</h>
</div>

<div class="rfp-wrapper2">
  <h5>Term of contract (months)</h>
</div>

<div class="rfp-wrapper2">
  <h5>Total # Deliveries</h>
</div>

<div class="rfp-wrapper2">
  <h5>Contract Start Date</h>
</div>

<div class="rfp-wrapper2">
  <h5>Shipping Type</h>
</div>