<div class="col-spec-show-wrapper1">
  <p>
    <h5>Product</h>
  </p>

  <p>
    <h5>Characteristic</h>
  </p>

  <p>
    <h5>Unit</h>
  </p>

  <p>
    <h5>Limit</h>
  </p>

  <p>
    <h5>Value</h>
  </p>

  <p>
    <h5>Test Method Reference</h>
  </p>

</div>
