  <div class="col-spec-wrapper1">
    <h5>Product</h>
  </div>

  <div class="col-spec-wrapper2">
    <h5>Characteristic</h>
  </div>

  <div class="col-spec-wrapper3">
    <h5>Unit</h>
  </div>

  <div class="col-spec-wrapper4">
    <h5>Limit</h>
  </div>

  <div class="col-spec-wrapper5">
    <h5>Value</h>
  </div>

  <div class="col-spec-wrapper6">
    <h5>Test Method Reference</h>
  </div>