.signup-page-wrapper {
  @include outer-container(50%);
  .signup-header {
  text-align: center;
  margin-top: 32px;
    } 
  input {
 
    }
}

.signup-wrapper {
  @include span-columns(12);
  input {
    @include span-columns(5 of 12);
  }
}

#signup-button {
  position: center;
}

